<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width= device-width, initial-scale=1.0">
        <title>BeanJam|Home</title>
        
        <link rel="stylesheet" href="/stylesheets/style.css"><!-- CSS import-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'><!--bixicons icon import -->
    </head>
    <body background="/images/bg4.jpg">
        <div class="navbar">
            <h1>BeanJAM</h1>
            <nav>
                <ul class="nav_links">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </nav>
            <a class="bruh" href="/login"><button>LOGIN/SIGNUP</button></a>
        </div>
    </body>
    <script src="/javascripts/script.js"></script>

</html>
