<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width= device-width, initial-scale=1.0">
        <title>MovieFlix</title>
        
        <link rel="stylesheet" href="/stylesheets/index.css"><!-- CSS import-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'><!--bixicons icon import -->
    </head>
    <body background="/images/bg9.jpg">
        <div class="popular" id="upper">
            <h1>What's Popular</h1>
            <div class="toggle">
                <div class="link whitebg" id="movies"><a href="#">Movies</a></div>
                <div class="link" id="tv"><a href="#">TV Shows</a></div>
            </div>
        </div>

        <div id="tags">
            <div class="tag" id="tag">Action</div>
            <div class="tag" id="tag">Adventure</div>
            <div class="tag" id="tag">Animation</div>
            <div class="tag" id="tag">Comedy</div>
            <div class="tag" id="tag">Crime</div>
            <div class="tag" id="tag">Documentary</div>
            <div class="tag" id="tag">Drama</div>
            <div class="tag" id="tag">Family</div>
            <div class="tag" id="tag">Fantasy</div>
            <div class="tag" id="tag">History</div>
            <div class="tag" id="tag">Horror</div>
            <div class="tag" id="tag">Music</div>
            <div class="tag" id="tag">Mystery</div>
            <div class="tag" id="tag">Romance</div>
            <div class="tag" id="tag">Science Fiction</div>
            <div class="tag" id="tag">TV Movie</div>
            <div class="tag" id="tag">Thriller</div>
            <div class="tag" id="tag">War</div>
            <div class="tag" id="tag">Western</div>
        </div>
        <main id="main">

            <div class="pagination">
                <div class="prev" id="prev"><</div>
                <div class="curr" id="curr"">1</div>
                <div class="next" id="next">></div>
            </div>
        </main>
        
        <div class="navbar">
            <h1>MovieFlix</h1> 
            <nav>
                <ul class="nav_links">
                    <li>
                        <div class="search-bar">
                            <input class="search" placeholder="Search..." id="movie-name">
                            <i class='bx bx-search-alt-2 bx-sm search-icon' id="search"></i>
                        </div>
                    </li>
                    <li ><a href="#" id="homeButton"><i class='bx bx-home-alt-2 bx-sm home-icon'></i></a></li>
                    <li><a href="#" id="click"><i class='bx bx-user-circle bx-sm user-icon'></i></i></a></li>
                </ul>
                <div class="submenu" id="submenu">
                    <ul>
                        <li><a href="#" class="submenu-link"><i class='bx bxs-user-circle bx-sm'></i><p><%= curr.username %></p><span>></span></a></li>
                        <li><a href="#" class="submenu-link"><i class='bx bx-heart bx-sm heart-icon' ></i><p>Favourites</p><span>></span></a></li>
                        <li><form action="/logout" method="GET"><a href= "/logout" id="logout" class="submenu-link"><i class='bx bxs-log-out-circle bx-sm' ></i><p>Logout</p><span>></span></a></form></li>
                    </ul>
                </div>
            </nav>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>

</html>