<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width= device-width, initial-scale=1.0">
        <title>BeanJam|Home</title>
        
        <link rel="stylesheet" href="/stylesheets/index.css"><!-- CSS import-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'><!--bixicons icon import -->
    </head>
    <body background="/images/bg6.jpg">
        <div class="navbar">
            <h1>BeanJAM</h1>
            <nav>
                <ul class="nav_links">
                    <li><a href="/"><i class='bx bx-home-alt-2 bx-sm home-icon'></i></a></li>
                    <li><a href="#"><i class='bx bx-search-alt-2 bx-sm search-icon' ></i></a></li>
                    <li><a href="#"><i class='bx bx-heart bx-sm heart-icon' ></i></a></li>
                    <li><a href="#"><i class='bx bx-message-square-dots bx-sm chat-icon'></i></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </nav>
            <a class="bruh" href="/login"><button>LOGOUT</button></a>
        </div>
    </body>
    <script src="/javascripts/index.js"></script>

</html>