<!DOCTYPE html>
<html>
    <head>
        <title>Konekt- Logout</title></head>
    <body>
        <form class="label-left" method="post">
            <fieldset>
                <legend>Logout</legend>
        
                <input type="submit" name="doit" value="Logout">
            </fieldset>
        </form>
    </body>

</html>
